.example {
    padding: 20px;
    color: white;
}
.form-container
{

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.example {background: green;}
	.form-container{
		margin-left: 0;
		margin-right: 0;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.example {background: blue;}
	.form-container{
		margin-left: 15%;
		margin-right: 15%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.example {background: orange;}
	.form-container{
		margin-left: 25%;
		margin-right: 25%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.example {background: pink;}
	.form-container{
		margin-left: 25%;
		margin-right: 25%;
	}
}
